@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#y-nghia-hoa-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#y-nghia-hoa-content h1 {
    font-family: Amatic SC;
    font-size: 80px;
}

.y-nghia-hoa-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
}

#y-nghia-hoa-content .para {
    text-align: justify;
    padding: 7px;
}

span {
    font-weight: 600;
    font-family: Pattaya;
    font-size: 25px;
}

ul {
    padding-left: 30px;
}